<!--create login form with angular material and tailwind css  -->
<div class="w-full h-full flex items-center justify-center">
    <div class="flex flex-col gap-6 w-4/12 bg-gray-100 p-8 rounded-lg shadow-md">
        <span class="text-2xl font-semibold">Login with your account</span>

        <form [formGroup]="loginForm" class="flex flex-col space-y-6">
   
                    <mat-form-field class="w-full">
                        <mat-label>Enter your email</mat-label>
                        <input matInput formControlName="email" type="email" name="email" required />
                    </mat-form-field>
                    <mat-form-field class="w-full">
                        <mat-label>Enter your password</mat-label>
                        <input matInput formControlName="password" type="password" name="password" required/>
                        </mat-form-field>

                </form>
                <div>
                    <button (click)="loginSubmit()" class="w-full mb-5" mat-flat-button matStepperNext>
                        Next
                    </button>
                </div>
    </div>
</div>


